@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

button {
  cursor: pointer;
}

section {
  background-color: rgb(245, 245, 245);
  transition: all 300ms ease;
}

input, textarea {
  width: 100%;
  background-color: #242424;
  color: white;
  outline: none;
  border: 3px solid #c0c4cc;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input:hover, textarea:hover {
  border-color: #dcdfe6;
}

input:focus, textarea:focus {
  border-color: #489f01;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.ital {
  font-style: italic;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.8);
}

.title {
  font-size: 120px;
  margin: 0px 0px 12px 0px;
  text-align: left;
  line-height: 1;
}

.sub-title {
  font-size: 35px;
  margin: 5px 0px 12px 0px;
  text-align: left;
  line-height: 1;
}

.body__description--para {
  padding: 16px 0px 8px 0px;
  max-width: 550px;
}

.coral {
  color: #f94962;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: black;
  transition: all 300ms ease;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--black:after {
  background-color: #242424;
}

.link__hover-effect--pink:after {
  background-color: #f94962;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 400ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

.dark-theme .title,
.dark-theme .sub-title, 
.dark-theme .gallery__sub-title,
.dark-theme .section__title, 
.dark-theme .section__sub-title, 
.dark-theme .nav__link--anchor, 
.dark-theme .fa-adjust, 
.dark-theme .header__para,
.dark-theme .header__para--secondary, 
.dark-theme .gallery__description--para, 
.dark-theme .body__description--para {
  color: #ededed;
}

.dark-theme section {
  background-color: #242424;
}

.dark-theme #portfolio-logo {
  filter: invert(1);
}

.dark-theme .scroll__icon {
  border-color: white;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
  background-color: white;
}

.dark-theme .mail__btn {
  background-color: white;
  color: #242424;
}

.dark-theme .gallery-card__description--title,
.dark-theme .gallery-card__description--para,
.dark-theme .visual-style__description--para {
  color: #bcbcbc;
}

.dark-theme .gallery-card__wrapper {
  box-shadow: 0 10px 30px 0 rgb(20, 27, 66, 0.6);
}

.dark-theme .gallery-card__wrapper--bg {
  color: #fff;
}

.dark-theme .shape {
  filter: invert();
}
/* 

LANDING PAGE 

*/

#landing-page {
  min-height: 100vh;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 20px;
}

.header__para {
  font-size: 24px;
  max-width: 450px;
}

.header__para--secondary {
  font-size: 16px;
  max-width: 450px;
}

.social__list {
  margin-top: 16px;
  display: flex;
}

.social__link {
  background-color: #ef445e;
  color: white;
  padding: 6px;
  width: 32px;
  height: 32px;
  font-size: 16px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.mail__btn {
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #242424;
  color: white;
  position: absolute;
  bottom: 32px;
  right: 40px;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%)
}

.scroll__icon {
  width: 20px;
  height: 36px;
  border: 2px solid #242424;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scroll__icon:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #242424;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
/* 

NAVIGATION 

*/

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 90px;
}

#portfolio-logo {
  width: 200px;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}

.body__link--anchor {
  font-size: 16px;
  color: #f94962;
  font-weight: 700;
}

.fa-adjust {
  font-size: 20px;
}


/* 

MODAL 

*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.35);
  visibility: visible;
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%);
}

.modal__about {
  background-color: #f5f5f5;
  transform: translateX(-110%);
}

.modal__languages {
  display: flex;
  flex-wrap: wrap;
}

.modal__language {
  width: 25%;
  padding: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 300ms ease;
}

.modal__language:hover .language__name {
  transform: scale(1);
}

.modal__language:hover {
  filter: brightness(80%);
  transform: scale(0.9);
}

.language__name {
  position: absolute;
  bottom: -10px;
  transform: scale(0);
  transition: all 300ms ease;
}

.modal__language--img {
  width: 100%;
}

.modal__contact {
  background-color: #242424;
  color: white;
  transform: translateX(110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item {
  margin-bottom: 20px;
}

.form__submit {
  background-color: #f94962;
  border: 2px solid #f94962;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

.form__submit:active {
  border-color: #f94962;
  color: #f94962;
}

.modal__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading {
  background-color: #242424;
  font-size: 80px;
}

.modal__overlay--success {
  background-color: #f94962;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visible {
  z-index: 1;
  display: flex;
}

.fa-spinner {
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}

/* 

PROJECTS 

*/

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.project {
  margin-bottom: 135px;
}

.project__image {
  width: 100%;
  display: block;
  transition: all 600ms ease;
}

.project__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.project__wrapper:hover .project__image {
  transform: scale(1.07);
  filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg {
  opacity: 0.7;
}

.project__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__description--title {
  font-size: 40px;
}

.project__description--sub-title {
  margin-top: 8px;
}

.project__description--link {
  color: white;
  font-size: 20px;
  margin-right: 16px;
}

.project__description--para {
  margin: 16px 0;
}

.project__description--link-gallery {
  color: #f94962;
  font-size: 16px;
  margin-right: 16px;
}

/* 

Motion Visual Gallery

*/

.gallery {
  display: flex;
  flex-flow: wrap row;
  max-width: 1200px;
  gap: 80px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.motion,
.startup,
.highlight {

}

.gallery-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.xlarge {
  max-width: 600px;
}

.large {
  max-width: 400px;
}

.medium {
  max-width: 300px;
}

.small {
  max-width: 260px;
}

.gallery-card__image {
  width: 100%;
  display: block;
  transition: all 600ms ease;
}

.gallery-card__wrapper {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgb(0, 0, 0, 0.45);
  overflow: hidden;
}

.gallery-card__wrapper:hover .gallery-card__image {
  transform: scale(1.07);
  filter: blur(5px);
}

.gallery-card__wrapper:hover .gallery-card__wrapper--bg {
  opacity: 0.7;
}

.gallery-card__wrapper:hover .gallery-card__description--full {
  opacity: 1;
  transform: translateY(-50%);
}

.gallery-card__wrapper--bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
}

.gallery__sub-title {
  color: #676767;
  text-align: left;
  font-size: 36px;
  padding-top: 12px;
}

.gallery__description--para {
  color: #676767;
  text-align: left;
  font-size: 16px;
  padding-bottom: 60px;
  max-width: 550px;
}

.gallery-card__description {
  color: #676767;
  width: 100%;
  padding: 30px;
}

.gallery-card__description--title {
  font-size: 24px;
  padding-bottom: 8px;
}

.gallery-card__description--para {
  font-size: 14px;
  line-height: 1.6;
}

.gallery-card__description--full {
  position: absolute;
  top: 45%;
  padding: 30px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 86%;
}

/* 

VISUAL STYLE 

*/

.visual-style {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
}

.visual-style__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.visual-style__wrapper {
  position: relative;
  overflow: hidden;
}

.visual-style__image {
  width: 300px;
  display: block;
  transition: all 600ms ease;
}

.visual-style__wrapper:hover .visual-style__image {
  transform: scale(1.07);
}

.visual-style__description--para {
  font-size: 14px;
  color: #676767;
  width: 100%;
  padding: 32px 0px;
  text-align: justify;
  text-justify: inter-word;
}


/* 

FOOTER 

*/

footer {
  position: relative;
  background-color: #242424;
  display: flex;
  padding: 6% 0;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  width: 200px;
  filter: invert(1);
}

.footer__social--link,
.footer__copyright {
  color: white;
  padding: 4px;
}

.footer__social--list {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 28px 0;
}

/* 

  SHAPES


*/

.shape {
  position: fixed;
}

.shape--0 {
  top: 15vh;
  left: 5vw;
}

.shape--1 {
  top: 15vh;
  left: 50vw;
}

.shape--2 {
  top: 15vh;
  left: 80vw;
}

.shape--3 {
  top: 50vh;
  left: 5vw;
}

.shape--4 {
  top: 50vh;
  left: 50vw;
}

.shape--5 {
  top: 50vh;
  left: 80vw;
}

.shape--6 {
  top: 80vh;
  left: 5vw;
}

.shape--7 {
  top: 80vh;
  left: 50vw;
}

.shape--8 {
  top: 80vh;
  left: 80vw;
}

/* 

RESPONSIVE

*/

@media (max-width: 955px) {
  .visual-style__description--para {
    width: 67%;
    padding: 24px 0px;
  }
}

/* Small phones, tablets, large smart phones */
@media (max-width: 768px) {
  .title {
    font-size: 80px;
  }

  .header__para {
    font-size: 20px;
  }
  
  .modal {
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }
  
  .modal__half {
    width: 100%;
    
  }

  .visual-style__description--para {
    width: 82%;
    padding: 24px 0px;
  }
}


/* Small phones */
@media (max-width: 480px) {
  #portfolio-logo {
    width: 160px;
    padding-top: 8px;
  }

  .title {
    font-size: 52px;
  }

  .section__title {
    font-size: 36px;
  }
  
  .header__para {
    font-size: 18px;
  }

  .nav__link:first-child,
  .nav__link:nth-child(2) {
    display: none;
  }

  .project__description--para {
    display: none;
  }

  .project__description {
    left: 0;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .project__description--sub-title {
    margin-bottom: 8px;
  }

  .gallery {
    justify-content: center;
    gap: 60px;
  }

  .xlarge,
  .large,
  .medium,
  .small {
    max-width: 360px;
  }

  .gallery__sub-title {
    font-size: 30px;
    padding-bottom: 8px;
    text-align: center;
  }

  .gallery__description--para {
    text-align: center;
  }

  .gallery-card {
    align-items: center;
  }

  .gallery-card__description {
    padding: 24px;
  }

  .gallery-card__description--full {
    max-width: 100%;
  }

  .gallery-card__description--title {
    text-align: center;
  }

  .gallery-card__description--para {
    text-align: center;
    line-height: 1.8;
  }

  .visual-style__description--para {
    width: 80%;
    padding: 10px 0px 18px 0px;
  }

  .visual-style__gallery {
    padding-bottom: 20px;
  }

  .modal__half {
    padding: 40px;
  }

  .footer__social--list {
    max-width: 70%;
  }
}